In [13]:
import pandas as pd
import numpy as np
from scipy.stats  import ttest_ind,ttest_1samp,ttest_rel
import researchpy as rp
from scipy import stats
import scipy

In [14]:
df = pd.read_csv(r'C:\Users\SHARVARI AVHAD\Desktop\Inferential Statistics\Statistics.csv')

In [15]:
df.head()

,Age Group,Gender,Profession,Better Service Provider,Pocket friendly Service,Cashless transactions problem,Daily_spendings,Monthly_spending,Quality decider attribute,Frequency of booking,Most usage day,Punctual service,Offer provider,Fast connector to driver,Faster issue resolver
0,15 - 30,Female,Student,Ola,Ola,Never faced this issue,200,2000,Most,2-3 times in a month,Weekends,Ola,Uber,Ola,Uber
1,15 - 30,Female,Student,Ola,Ola,More often in Uber,100,1500,Pricing,Only on special occasions,Weekends,Ola,Uber,Both equally,Never faced any issue
2,15 - 30,Male,Student,Both provide equal quality,Uber,Faced this issue equally in both,50,1000,Driver's behaviour,Only on special occasions,Weekends,Both equally,Ola,Both equally,Never faced any issue
3,15 - 30,Male,Student,Ola,Uber,Never faced this issue,200,1000,Driver's behaviour,Only on special occasions,Weekdays,Both equally,None,Ola,Never faced any issue
4,15 - 30,Female,Student,Both provide equal quality,Uber,Never faced this issue,100,500,Driver's behaviour,2-3 times in a month,Weekends,Both equally,Ola,Both equally,Never faced any issue

# Two Independent sample T-test

### Hypothesis

* H_0: There is no difference in Daily_spendings by male and female 
    
* H_1: There is difference in Daily_spendings by male and female

In [16]:
df.groupby('Gender')['Daily_spendings'].describe()

        count        mean         std   min   25%    50%    75%     max
Gender
Female   78.0  173.717949  199.955248  50.0  50.0  100.0  200.0  1000.0
Male     73.0  176.027397  183.354088  50.0  50.0  100.0  200.0  1000.0

In [17]:
Male = df[(df['Gender'] == 'Male')]
Male.reset_index(inplace= True)

Female = df[(df['Gender'] == 'Female')]
Female.reset_index(inplace= True)

In [18]:
result = scipy.stats.ttest_ind(Male['Daily_spendings'], Female['Daily_spendings'])
result

Ttest_indResult(statistic=0.0738198433839079, pvalue=0.9412527464256655)

### Conclusion
* There is no difference in Daily_spendings by male and female